---
import Logo from '../img/logoFinal.png'; // El logo de la empresa.
---

<header>
    <section id="left">
        <a href=""><img src={Logo.src} alt="logo"></a>
    </section>
    <section id="center">
        <a href="/">Inicio</a>
        <a href="/about">Sobre Solincan</a>
        <a href="/services">Servicios</a>
        <a href="/proyects">Proyectos</a>
    </section>
    <section id="right">
        <a href="/contact"><button class="contacto">Contactar</button></a>
    </section>
</header>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

    header{
        font-family: "Rajdhani", serif;
        font-weight: 600;
        font-style: normal;
    }
</style>