---
import Logo from '../img/logoFinal.png';
---

<body>
  <header id="header">
    <section id="left">
      <a href=""><img src={Logo.src} alt="logo" /></a>
    </section>
    <section id="center">
      <a href="/">Inicio</a>
      <a href="/about">Sobre Solincan</a>
      <a href="/services">Servicios</a>
      <a href="/proyects">Proyectos</a>
    </section>
    <section id="right">
        <a href="/contact">Contactar</a>
    </section>
  </header>

  <!-- Para cambiar el fondo del encabezado al bajar en la página. -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var header = document.querySelector("#header");
      window.addEventListener("scroll", function () {
        if (window.scrollY > 50) {
          header.classList.add("scrolled");
        } else {
          header.classList.remove("scrolled");
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      var header = document.querySelector("#header");
      window.addEventListener("scroll", function () {
        if (window.scrollY > 100) {
          header.classList.add("width");
        } else {
          header.classList.remove("width");
        }
      });
    });
  </script>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

    header{
        width: 100%;
        font-family: "Rajdhani", serif;
        font-weight: 600;
        font-style: normal;
        background: transparent;
        transition: background 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        padding: 1% 0 1% 0;
        position: fixed;
        z-index: 2;
    }

    header.scrolled{
        background: #948d18;
        box-shadow: 2px 2px 10px black;
    }

    header.width{
        padding: 2.5px 0 2.5px 0;
        transition: all 0.5s ease-out;
    }

    #center{
        margin: 25px 50px 25px 50px;
    }

    #center a{
        color: #fff;
        text-decoration: none;
        margin: 10px 15px 0 15px;
        font-size: 25px;
        transition: all 0.3s ease-in;
    }

    #center a:hover{
        color: black;
        text-decoration-line: overline;
    }

    #right{
        width: 15%;
    }

    #right a{
        position: relative;
        top: 30px;
        font-size: 20px;
        margin: 15px 50px 10px 25px;
        padding: 25px 50px 25px 50px;
        border: none;
        border-radius: 25px;
        background: #e26526;
        text-decoration: none;
        color: #141414;
        text-transform: uppercase;
        width: 85px;
    }

    #right a:hover{
        background: #232323;
        color: #e26526;
        box-shadow: 2.5px 2.5px 10px #141414;
    }

    #left{
        width: 25%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    #left a{
        width: 50%;
    }

    #left a img{
        width: 100%;
        margin: 10px 0 0 0;
    }

    @media (width < 1300px){
        #center{
            margin: 25px 100px 25px 25px;
        }

        #center a{
            font-size: 20px;
        }
    }

    @media (width < 1100px){
        #center{
            margin: 25px 100px 25px 25px;
        }

        #center a{
            font-size: 15px;
        }

        #right a{
            padding: 15px 25px 15px 25px;
            font-size: 10px;
            top: 25px;
        }
    }
</style>