---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Pestaña from "../img/encabezado.png";
import Header from "../components/header.astro"; // El encabezado de la web.
import Footer from "../components/footer.astro"; // El pie de página de la web.
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={Pestaña.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header /> <!-- El encabezado importado. -->
		<slot /> <!-- Contenido de las páginas de la web. -->
		<Analytics />
		<Footer /> <!-- El pie de página importado -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
